{
    "Darwin": {
        "copy": [
            "ssh",
            "macbook",
            "LANG=en_US.UTF-8 pbcopy"
        ],
        "open": [
            "ssh",
            "macbook",
            "open \"https://www.google.com/search?tbm=isch&q=%s\""
        ]
    },
    "Linux": {
        "copy": [
            "xsel",
            "--clipboard",
            "--input"
        ],
        "open": [
            "open",
            "https://www.google.com/search?tbm=isch&q=%s"
        ]
    }
}
